.card-text {
    font-size: 1.2em;
}

/*.module_details {*/
/*    display: block;*/
/*    max-height: 0;*/
/*	transform: scale(1, 0);*/
/*    transition: max-height 500ms,*/
/*                transform 500ms;*/
/*}*/

/*.card:hover .module_details {*/
/*    max-height: 999px;*/
/*	transform: scale(1);*/
/*    transition:  max-height 500ms,*/
/*                 transform 500ms;*/
/*}*/

/*.card-body {*/
/*    position: relative;*/
/*}*/


#products_grid {
  .description-hoverable {
    //display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s;

    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    //opacity: 0.8;
    color: white;
    text-align: left;
  }

  form.oe_product_cart:hover .description-hoverable {
    //display: block;
    visibility: visible;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
}